* {
  margin:0;
  padding: 0;
}

/* .overall{
  flex-grow:1;
  background-color:"#03084a";
} */

.container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: green solid;
  background-color:"#03084a";
}

.react-monaco-editor-container{
  position: inherit !important;
  width: 100% !important;
}

.monaco-editor{
  position: inherit !important;
  width: 100% !important;
}




.editor-container{
 display: flex;
 flex-direction: column;
 padding: .5rem;
 background-color:'#002984'
}

.editor-title{
 justify-content: space-between;
 background-color: brown;
 color: white;
 padding: .5rem;
 border-top-right-radius: .5rem;
 border-top-left-radius: .5rem; 
}

.CodeMirror{
 height:100% !important;
}

.code-mirror-wrapper{
 flex-grow: 1;
 border-bottom-right-radius: .5rem;
 border-bottom-left-radius:  .5rem;
 overflow: hidden;
}

